<div *ngIf="request">
    <div *ngIf="isReceiver()">
        <h2 class="text-center text-dark py-4">
            Поздравления! Вие разменихте "{{request.requestedBook.title}}" за "{{request.chosenBook.title}}"!
        </h2>
        <div class="row m-0 pt-5">
        
            <div class="col-2">
                <img _ngcontent-heq-c5="" class="img-responsive fit-image shadow" [src]="request.requestedBook.imageURL">
            </div>
            <div class="col-2">
                <img _ngcontent-heq-c5="" class="img-responsive fit-image shadow" [src]="request.chosenBook.imageURL">
            </div>
            <div class="col-1"></div>
 
            <div class="col-5 text-center text-dark pt-5 request">
                <h4>Информация за изпращане</h4>
                <p class="pt-1">Име: {{request.requester.firstName}} {{request.requester.lastName}}</p>
                <p>Tел. номер: {{request.requester.phoneNumber}}0</p>
                <p>Адрес: {{request.requester.address}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="isRequester()">
        <h2 class="text-center text-dark py-4">
            Поздравления! Вие разменихте "{{request.chosenBook.title}}" за "{{request.requestedBook.title}}"!
        </h2>
        <div class="row m-0 pt-5">
        
            <div class="col-2">
                <img _ngcontent-heq-c5="" class="img-responsive fit-image shadow" [src]="request.chosenBook.imageURL">
            </div>
            <div class="col-2">
                <img _ngcontent-heq-c5="" class="img-responsive fit-image shadow" [src]="request.requestedBook.imageURL">
            </div>
            <div class="col-1"></div>
 
            <div class="col-5 text-center text-dark pt-5 request">
                <h4>Информация за изпращане</h4>
                <p class="pt-1">Име: {{request.receiver.firstName}} {{request.receiver.lastName}}</p>
                <p>Tел. номер: {{request.receiver.phoneNumber}}</p>
                <p>Адрес: {{request.receiver.address}}</p>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="!request"></app-loader>