p {
    font-size: 18px;
    margin-bottom: 11px;
}

h4 {
    padding-bottom: 16px;
}

.book {
    height: 440px;
}

.request {
    background-color: rgb(238, 237, 237);
}

@media only screen and (max-width: 575px){
.lastdiv {
    margin-top: 1rem;
    margin-bottom: calc(80px + 1rem);
}
}