<div class="row">
    <div class="col-lg-4 col-mg-12 my-lg-0 my-md-3">
        <div class="info p-3 border-rounded">
            <h4>Информация за Георги</h4>
            <p><strong>Куриерска фирма:</strong> Спиди</p>

            <p><strong>Име:</strong> Георги Арнаудов</p>

            <p><strong>Tел. номер:</strong> 0885914624</p>

            <p><strong>Град:</strong> София, София (Столица)</p>

            <p><strong>Адрес на офис:</strong> СОФИЯ - МАДРИД (БУЛ.) (гр. СОФИЯ, бул. МАДРИД No 34, ВХОД ОТ КЪМ ВАСИЛ
                ДРУМЕВ)
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-mg-12 my-lg-0 my-md-3 row">
        <div class="col-md-6 col-sm-12 my-md-0 my-sm-3 d-flex justify-content-center">
            <div class="border rounded book" routerLink="book/{{book.id}}">
                <img class="p-2 img-responsive fit-image" [src]="book.imageURL">
                <h4 class="pl-2 book-title">Car ivan shishman</h4>
                <p class="pl-2 text-muted font-italic">Автор: {{book.author}}</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="border rounded book" routerLink="book/{{book.id}}">
                <img class="p-2 img-responsive fit-image" [src]="book.imageURL">
                <h4 class="pl-2 book-title">Ba kahur</h4>
                <p class="pl-2 text-muted font-italic">Автор: ba kahur</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-mg-12 my-lg-0 my-md-3">
        <div class="info p-3 border-rounded align-self-center">
            <h4>Информация за Георги</h4>
            <p><strong>Куриерска фирма:</strong> Спиди</p>

            <p><strong>Име:</strong> Георги Арнаудов</p>

            <p><strong>Tел. номер:</strong> 0885914624</p>

            <p><strong>Град:</strong> София, София (Столица)</p>

            <p><strong>Адрес на офис:</strong> СОФИЯ - МАДРИД (БУЛ.) (гр. СОФИЯ, бул. МАДРИД No 34, ВХОД ОТ КЪМ ВАСИЛ
                ДРУМЕВ)
            </p>
        </div>
    </div>
</div>