<div class="row">
    <div class="col-lg-4 col-mg-12 my-lg-0 my-md-3">
        <div class="info p-3 border-rounded">
            <h4>Информация за {{request.requester.firstName}}</h4>
            <p><strong>Куриерска фирма:</strong> {{request.requesterAddress.courierService.courierServiceName}}</p>

            <p><strong>Име:</strong> {{request.requester.firstName}} {{request.requester.lastName}}</p>

            <p><strong>Tел. номер:</strong> {{request.requester.phoneNumber}}</p>

            <p><strong>Град:</strong> {{request.requesterAddress.city.cityName}}</p>

            <p><strong>Адрес на офис:</strong> {{request.requesterAddress.address}}
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-mg-12 my-lg-0 my-md-3 row">
        <div class="col-md-6 col-sm-12 my-md-0 my-sm-3 d-flex justify-content-center">
            <div class="border rounded book">
                <img class="p-2 img-responsive fit-image" [src]="request.requestedBook.imageURL">
                <h4 class="pl-2 book-title">{{request.requestedBook.title}}</h4>
                <p class="pl-2 text-muted font-italic">Автор: {{request.requestedBook.author}}</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 d-flex justify-content-center">
            <div class="border rounded book">
                <img class="p-2 img-responsive fit-image" [src]="request.chosenBook.imageURL">
                <h4 class="pl-2 book-title">{{request.chosenBook.title}}</h4>
                <p class="pl-2 text-muted font-italic">Автор: {{request.chosenBook.author}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-mg-12 my-lg-0 my-md-3">
        <div class="info p-3 border-rounded align-self-center">
            <h4>Информация за {{request.receiver.firstName}}</h4>
            <p><strong>Куриерска фирма:</strong> {{request.receiverAddress.courierService.courierServiceName}}</p>

            <p><strong>Име:</strong> {{request.receiver.firstName}} {{request.receiver.lastName}}</p>

            <p><strong>Tел. номер:</strong> {{request.receiver.phoneNumber}}</p>

            <p><strong>Град:</strong> {{request.receiverAddress.city.cityName}}</p>

            <p><strong>Адрес на офис:</strong> {{request.receiverAddress.address}}
            </p>
        </div>
    </div>
</div>