.info {
    background-color: rgb(247, 247, 247);
}

.book {
    height: 440px;
    width: auto;
}

@media (min-width: 1200px) {
    .info{
        margin-top: calc(50vh - 225px);
        margin-bottom: calc(50vh - 225px);
    }

    .book-container{
        height: 340px;
        margin-top: calc(50vh - 255px);
        margin-bottom: calc(50vh - 255px);
    }

    .book {
        height: 240px;
        width: auto;
    }
}

@media only screen and (max-width: 575px){
    .lastdiv {
        margin-bottom: calc(80px + 1rem);
    }

    .book {
        height: 360px;
    }
}
