<footer class="font-small text-light bg-dark row">
    <div class="text-center py-2 col-sm-5 col-xs-3">
        <span class="align-middle">Bookshare © 2020</span>
    </div>
    <div class="col-sm-2  col-xs-1 text-center">
        <a href="/"><img src="assets\static\footer-logo.png"></a>
    </div>
    <div class="text-center py-2 col-sm-5 col-xs-8">
        <div>
            <a href="/user/support">Контакт</a>
            <a href="/user/support">Предложи книга</a>
            <a href="https://github.com/GeorgiArn/Bookshare" target="_blank">Документация</a>
        </div>
    </div>
</footer>