<footer class="font-small text-light bg-dark row">
    <div class="text-center py-2 col-5">
        <span>Bookshare © 2020</span>
    </div>
    <div class="col-2 text-center">
        <img src="assets\static\footer-logo.png">
    </div>
    <div class="text-center py-2 col-5">
        <div class="float-left">
            <a class="px-5" href="/user/support">Контакт</a>
            <a class="px-5" href="/user/support">Предложи книга</a>
            <a class="px-5" href="https://github.com/GeorgiArn/Bookshare" target="_blank">Документация</a>
        </div>
    </div>
</footer>