.searchedCities {
    position: absolute;
    background-color: whitesmoke;
    text-align: left;
    z-index: 1;
    width: calc(100% - 82px);
}

.cityName {
    cursor: pointer;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 4px;
}

.phone-exception {
    color: #EF5E1B;
    font-weight: 750;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 7px;
}

@media(max-width: 576px){
    .searchedCities{
        width: calc(100% - 32px);
    }
}