.searchedCities {
    position: absolute;
    background-color: whitesmoke;   
    width: 320px;
    text-align: left;
    z-index: 1;
}

input {
    width: 320px;
}

.cityName {
    cursor: pointer;
    font-weight: 700;
    padding-top: 4px;
    padding-left: 4px;
}