<div class="container">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 col-sm-0"></div>
            <div class="col-md-4 col-sm-12">
                <h3 class="text-center mt-2">Вход</h3>
                <input type="email" placeholder="Имейл" class="form-control mt-4">
                <input type="password" placeholder="Парола" class="form-control mt-3">
                <div class="form-row text-center">
                    <div class="col-12">
                        <button class="btn btn-dark text-center mt-3 btnlog" href="#">Влез</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-0"></div>
        </div>
    </div>
</div>