<!-- <div class="container-fluid">
    <h4 class="p-3">Романтични Книги</h4>
    <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-12 mb-4">
            <div class="border rounded">
                <img class="pl-2 pt-2 book-img" src="https://i2.helikon.bg/products/2123/22/222123/222123_b.jpg">
                <h5 class="pl-2 pt-2">Заглавие</h5>
                <p class="pl-2 text-muted font-italic">Автор Авторов</p>
                <div class="row">
                    <div class="col-md-7">
                        <a href="#" class="text-dark pl-2 pt-1 float-left">Виж още</a>
                    </div>
                    <div class="col-md-5">
                        <a href="#" class="btn btn-dark mr-2 mb-3 float-right">Заяви</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->