<section class="row" *ngIf="currentUserData">
  <div class="col-lg-3 col-md-4 col-sm-12 py-lg-5 text-center profmenu">
    <div *ngIf="isPasswordChanged" class="alert alert-success mt-2" role="alert">
      Ти успешно промени паролата си!
    </div>
    <h4 class="text-center mt-4">Редактиране на профил</h4>
    <div class="form-group pt-3">
      <div class="form-group">
        <label for="first-name">Име</label>
        <input id="first-name" name="firstName" #firstNameInput="ngModel" class="form-control mx-2"
          [(ngModel)]='currentUserData.firstName' (ngModelChange)='updateUserFirstName($event)' required>
        <div *ngIf="currFirstName !== firstNameInput.value" class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img *ngIf="currFirstName === firstNameInput.value && firstNameInput.dirty" class="tick"
          src="/assets/static/tick.png">
        <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="warning">Моля въведете валидно име.</div>
      </div>
      <div class="form-group">
        <label for="last-name">Фамилия</label>
        <input id="last-name" name="lastName" #lastNameInput="ngModel" class="form-control mx-2"
          [(ngModel)]='currentUserData.lastName' (ngModelChange)='updateUserLastName($event)' required>
        <div *ngIf="currLastName !== lastNameInput.value" class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img *ngIf="currLastName === lastNameInput.value && lastNameInput.dirty" class="tick"
          src="/assets/static/tick.png">
        <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="warning">Моля въведете валидна фамилия.</div>
      </div>
      <div class="form-group">
        <label for="email">Имейл</label>
        <input id="email" class="form-control mx-2" name="email" #emailInput="ngModel"
          [(ngModel)]='currentUserData.email' (ngModelChange)='updateUserEmail($event, emailInput.invalid)' required
          email>
        <div *ngIf="currEmail !== emailInput.value" class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <img *ngIf="currEmail === emailInput.value && emailInput.dirty" class="tick" src="/assets/static/tick.png">
        <div *ngIf="emailInput.invalid && emailInput.touched" class="warning">Моля въведете валиден имейл адрес.</div>
      </div>

    </div>

    <button class="btn-dark my-3" type="button" data-toggle="modal" data-target="#changePasswordModal">Промени
      парола</button>
  </div>
  <div class="col-lg-9 col-md-8 border-left">
    <div class="row">
      <div class="col-4 bar border-right bold h5" [ngClass]="{'border-bottom remove-bold': !inPending}"
        (click)="inPending=true; inRequested=false; inPast=false;">Заявки за книги</div>
      <div class="col-4 bar border-right bold h5" [ngClass]="{'border-bottom remove-bold': !inRequested}"
        (click)="inRequested=true; inPending=false; inPast=false;">Поискани книги</div>
      <div class="col-4 bar border-right bold h5" [ngClass]="{'border-bottom remove-bold': !inPast}"
        (click)="inPast=true; inRequested=false; inPending=false;">Размяни</div>
    </div>

    <div id="Past" class="div-menu" *ngIf="inPast">
      <div *ngFor="let request of successfulRequests">
        <div *ngIf="request.requester" class="container border rounded my-4 row request"
          routerLink="../../book/info/request/{{request.id}}">
          <div class="col-3 ">
            <img class="p-2 img-responsive fit-image" [src]="request.requestedBook.imageURL">
          </div>
          <div class="col-4 text-center justify-content-center align-self-center">
            <h4 class="pl-2 past-book-title">{{request.requestedBook.title}}</h4>
            <p class="pl-2 text-muted font-italic">Автор: {{request.requestedBook.author}}</p>
            <span class="font-weight-bold">за:</span>
            <h4 class="pl-2 past-book-title">{{request.chosenBook.title}}</h4>
            <p class="pl-2 text-muted font-italic">Автор: {{request.chosenBook.author}}</p>
          </div>
          <div class="col-3">
            <img class="p-2 img-responsive fit-image" [src]="request.chosenBook.imageURL">
          </div>
        </div>
        <div *ngIf="request.receiver" class="container border rounded my-4 row request"
          routerLink="../../book/info/request/{{request.id}}">
          <div class="col-3 ">
            <img class="p-2 img-responsive fit-image" [src]="request.chosenBook.imageURL">
          </div>
          <div class="col-4 text-center justify-content-center align-self-center">
            <h4 class="pl-2 past-book-title">{{request.chosenBook.title}}</h4>
            <p class="pl-2 text-muted font-italic">Автор: {{request.chosenBook.author}}</p>
            <span class="font-weight-bold">за:</span>
            <h4 class="pl-2 past-book-title">{{request.requestedBook.title}}</h4>
            <p class="pl-2 text-muted font-italic">Автор: {{request.requestedBook.author}}</p>
          </div>
          <div class="col-3">
            <img class="p-2 img-responsive fit-image" [src]="request.requestedBook.imageURL">
          </div>
        </div>
      </div>
    </div>

    <div id="Pending" class="div-menu" *ngIf="inPending">
      <div class="row text-center d-flex justify-content-center" *ngIf="notAcceptedReceives.length > 0">
        <div *ngFor="let receive of notAcceptedReceives" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 book">
          <div routerLink="../../book/choose/request/{{receive.id}}">
            <img class="book-img" [src]="receive.requestedBook.imageURL">
            <p class="book-title">{{receive.requestedBook.title}}</p>
            <p class="book-author">Автор: {{receive.requestedBook.author}}</p>
          </div>
          <button class="pendingbtn" routerLink="../../book/choose/request/{{receive.id}}">Продължи</button>

        </div>
      </div>
      <div class="row text-center d-flex justify-content-center" *ngIf="notAcceptedReceives.length === 0">
        <p class="msg">Все още никой не ти е поискал книга ;)</p>
      </div>
    </div>

    <div id="Requested" class="div-menu" *ngIf="inRequested">
      <div class="row text-center d-flex justify-content-center" *ngIf="notAcceptedRequests.length > 0">
        <div *ngFor="let request of notAcceptedRequests" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 book">
          <div routerLink="../../book/{{request.requestedBook.id}}">
            <img class="book-img" [src]="request.requestedBook.imageURL">
            <p class="book-title">{{request.requestedBook.title}}</p>
            <p class="book-author">Автор: {{request.requestedBook.author}}</p>
          </div>
          <button class="removebtn">Откажи</button>
        </div>
      </div>
      <div class="row text-center d-flex justify-content-center" *ngIf="notAcceptedRequests === 0">
        <p class="msg">Все още не си поискал книга ;)</p>
      </div>
    </div>

  </div>
</section>

<!-- Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Промени Парола</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #changePasswordForm="ngForm"
        (ngSubmit)="changePasswordHandler(changePasswordForm.value); changePasswordForm.reset();">
        <div class="modal-body">
          <div class="form-group pt-3">
            <label for="p1">Текуща парола</label>
            <input #currPasswordInput="ngModel" ngModel name="currPassword" id="p1" class="form-control mx-2"
              type="password" required minlength="6">
          </div>
          <div class="form-group">
            <label for="p2">Нова парола</label>
            <input #newPasswordInput="ngModel" ngModel name="newPassword" id="p2" class="form-control mx-2"
              type="password" required minlength="6">
            <div *ngIf="newPasswordInput.hasError('minlength') && newPasswordInput.touched" class="warning">Паролата
              трябва да бъде поне 6 символа.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
          <button [disabled]="changePasswordForm.invalid" type="submit" class="btn-dark">Промени</button>
        </div>
      </form>
    </div>
  </div>
</div>