<section class="row">
  <div class="col-lg-3 col-md-4 col-sm-12 text-center   profmenu">
    <img src="/src/assets/static/profile.png" data-toggle="modal" data-target="#PhModal" class="m-5 img-profile">
    <h4 class="text-center">Редактиране на профил</h4>
    <div class="form-group pt-3">
      <label for="mail">Имейл</label>
      <input id="mail" class="form-control mx-2" value="yourmail@shit.com">
    </div>
    <div class="form-group">
      <label for="name1">Име</label>
      <input id="name1" class="form-control mx-2" value="Peter">
    </div>
    <div class="form-group">
      <label for="name2">Фамилия</label>
      <input id="name2" class="form-control mx-2" value="Borisov">
    </div>
    <button class="btn-dark my-3" type="button" data-toggle="modal" data-target="#Modal">Смени парола</button>
  </div>
  <div class="col-lg-9 col-md-8 border-left">
    <div class="row">
      <div class="col-4 bar border-right border-bottom h5">Pending</div>
      <div class="col-4 bar border-right border-bottom h5">Requested</div>
      <div class="col-4 bar h5">Past</div>
    </div>

    <div id="Past" class="div-menu">
      <div class="container border rounded my-4 row">
        <div class="col-3">
          <img class="p-2 img-responsive fit-image" src="https://i4.helikon.bg/products/0642/22/220642/220642_b.jpg">
        </div>
        <div class="col-4 text-center justify-content-center align-self-center">
          <h4 class="pl-2 book-title">На Мишел Обама книгата</h4>
          <p class="pl-2 text-muted font-italic">Автор: book.author</p>
          <span class="font-weight-bold">за:</span>
          <h4 class="pl-2 book-title">Най тъпия език евър нз защо са го направили</h4>
          <p class="pl-2 text-muted font-italic">Автор: book.author</p>
        </div>
        <div class="col-3">
          <img class="p-2 img-responsive fit-image" src="https://i2.helikon.bg/products/0109/21/210109/210109_b.jpg">
        </div>
        <div class="col-2 text-center justify-content-center align-self-center">
          <button class="btn btn-danger">Изтрий</button>
        </div>
      </div>
    </div>

    <div id="Pending" class="div-menu">
      <div class="row text-center d-flex justify-content-center">
        <div class="col-xs-12 col-sm-4 col-md-2 book">
          <div routerLink="../">
            <img class="book-img" src="https://i2.helikon.bg/products/0109/21/210109/210109_b.jpg">
            <p class="book-title">book.title</p>
            <p class="book-author">Автор: book.author</p>
          </div>
          <button class="removebtn">Продължи</button>
        </div>
      </div>
      <div class="row text-center d-flex justify-content-center">
        <p class="msg">Все още нямаш книги в библиoтеката ти.</p>
      </div>
    </div>

    <div id="Requested" class="div-menu">
      <div class="row text-center d-flex justify-content-center">
        <div class="col-xs-12 col-sm-4 col-md-2 book">
          <div routerLink="../">
            <img class="book-img" src="https://i2.helikon.bg/products/0109/21/210109/210109_b.jpg">
            <p class="book-title">book.title</p>
            <p class="book-author">Автор: book.author</p>
          </div>
          <button class="removebtn">Откажи</button>
        </div>
      </div>
      <div class="row text-center d-flex justify-content-center">
        <p class="msg">Все още нямаш книги в библиoтеката ти.</p>
      </div>
    </div>

  </div>
</section>

<!-- Password Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Смени Парола</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group pt-3">
            <label for="p1">Стара парола</label>
            <input id="p1" class="form-control mx-2" type="password">
          </div>
          <div class="form-group">
            <label for="p2">Нова парола</label>
            <input id="p2" class="form-control mx-2" type="password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
          <button type="submit" class="btn-dark">Смени</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Photo Modal -->
<div class="modal fade" id="PhModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Смени Снимка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="text-center">
        Select image to upload:
        <input class="p-2" type="file" name="fileToUpload" id="fileToUpload">
        <button type="submit" class="btn-dark m-3" name="submit">Смени</button>
      </form>
    </div>
  </div>
</div>
<script src="./user-profile.component.spec.ts"> bars()</script>