<div class="nav-item nav-link" (click)="getUserNotifications()">
    <img class="notification" src="assets/static/notification.png">
    <p *ngIf="unreadNotificationsCount > 0" class="count">{{unreadNotificationsCount}}</p>
    <div *ngIf="requests" class="requests">
        <div *ngFor="let request of requests" class="request" routerLink="book/choose/request/{{request.id}}">
            <p *ngIf="isReceiver(request)" >
                {{request.requester.firstName}} ти поиска "{{request.requestedBook.title}}".
                Избери си една от неговите книги.
            </p>
            <p *ngIf="!isReceiver(request)" >Вашата заявка за "{{request.requestedBook.title}}" беше приета
                от {{request.receiver.firstName}}, който поиска "{{request.chosenBook.title}}".</p>
        </div>
    </div>
</div>