.notification {
    width: 38px;
    height: 38px;
    margin-top: -3px;
}
.count {
    position: absolute;
    top: 21px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: 700;
    background: #F68D16;
    color: white;
}

.requests {
    position: absolute;
    background-color: white;
    margin-left: -200px;
    color: black;
    font-size: 13px;
    margin-right: 10px;
    top: 80px;
    border-radius: 2%;
    z-index: 1;
    border-bottom: rgb(224, 224, 224) 0.5px solid;
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
}

.request {
    padding: 5px;
    border-left: rgb(224, 224, 224) 0.5px solid;
    border-right: rgb(224, 224, 224) 0.5px solid;
    border-top: rgb(224, 224, 224) 0.5px solid;
}

.request:hover {
    background-color: whitesmoke;
}

.nav-item {
    cursor: pointer;
}

@media( max-width: 991px) {
    .count {
        top: 45px;
    }

    .requests {
        margin-left: -20px;
    }
}