<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
        <h2 class="text-center py-3">Изпрати ни съобщение</h2>
        <form class="form-group text-center">
            <!--Имейла по default да бъде твоя-->
            <label for="email">Имейл за връзка</label>
            <input type="email" id="email" class="form-control" value="yourmail@mail.tv">
            <label for="message">Съобщение</label>
            <input type="text" id="message" class="form-control" rows="3">
        </form>
    </div>
</div>