<div class="row">
    <div class="col-md-6">
        <h2 class="text-center py-3">Предложи книга</h2>
        <form class="form-group text-center">
            <label for="name">Заглавие</label>
            <input type="text" id="name" class="form-control">
            <label for="author">Автор</label>
            <input type="text" id="author" class="form-control">
            <button class="btn btn-success my-2">Предложи</button>
            <a href="/book/library" class="pl-3">първо се увери, че я нямаме :)</a>
        </form>
    </div>
    <div class="col-md-6">
        <h2 class="text-center py-3">Изпрати ни съобщение</h2>
        <form class="form-group text-center">
            <!--Имейла по default да бъде твоя-->
            <label for="email">Имейл за връзка</label>
            <input type="email" id="email" class="form-control" value="yourmail@mail.tv">
            <label for="message">Съобщение</label>
            <textarea type="text" id="message" class="form-control" rows="3"></textarea>
            <button class="btn btn-success my-2">Изпрати</button>
        </form>
    </div>
</div>