<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href=""><img class = "logo" src="../../../assets/static/home-logo.png"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mr-auto">
            <input type="text" class="search-engine form-control mr-2" placeholder="Потърси книга...">
        </form>
        <div class="navbar-nav center">
            <!-- <a href="#" class="nav-item nav-link"><button class="navbtn">Добави книга</button></a>
            <a href="#" class="nav-item nav-link"><img class = "notification" src="../../../assets/static/notification.png"></a> -->
            <a href="#" class="nav-item nav-link login active">Влез</a>
            <a href="#" class="nav-item nav-link"><button class="navbtn">Регистрирай се</button></a>
            <!-- <a href="#" class="nav-item nav-link"><img class = "logout" src="../../../assets/static/logout.png"></a> -->
        </div>
    </div>
</nav>