img {
    width: 210px;
    height: 280px;
    margin-bottom: 35px;
    border-radius: 2%;
}

.book {
    margin-top: 35px;
}

.book-description {
    font-size: 19px;
    margin-top: 5px;
}

.book-author {
    font-size: 19px;
}

.book-date {
    font-size: 19px;
}

.book-publisher {
    font-size: 19px;
}

.book-title {
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(206, 112, 5);
}

.book-owners {
    font-size: 19px;
}

.navbtn {
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(250, 250, 250);
    font-size: 1.0rem;
    font-weight: bold;
    background-color: #F68D16;
    border-color: #F68D16;
    border-radius: 0.3rem;
    height: 2.2rem;
    width: 10rem;
    padding-bottom: 2px;
    border-style: solid;
}

.navbtn:hover {
    border-color: #EF5E1B;
    background-color: rgb(250, 250, 250);
    color: #EF5E1B;
}

.book-author-span {
    color: rgb(206, 112, 5);
    font-weight: 700;
}

.book-date-span {
    color: rgb(206, 112, 5);
    font-weight: 700;
}

.book-publisher-span {
    color: rgb(206, 112, 5);
    font-weight: 700;
}

.book-owners-span {
    color: rgb(206, 112, 5);
    font-weight: 700;
}

/* delivery-modal */

#town {
    width: 300px;
}