<div class="container-fluid padding">
    <div class="row text-center d-flex justify-content-center book" *ngIf="book">
        <div class="col-md-4">
            <img [src]="book.imageURL">
            <p class="book-author">Автор: <span class="book-author-span">{{book.author}}</span></p>
            <p class="book-date">Дата на издаване: <span class="book-date-span">{{book.datePublished}}</span></p>
            <p class="book-publisher">Издателство: <span class="book-publisher-span">{{book.publisher}}</span></p>
            <p *ngIf="currentUserData" class="book-owners">Потребители, които предлагат тази книга: <span
                    class="book-owners-span">{{book.users.length}}</span></p>
            <div *ngIf="currentUserData">
                <div *ngIf="!isOwner()">
                    <button *ngIf="!isRequested()" class="navbtn" data-toggle="modal"
                        data-target="#modalCoupon">Поискай</button>
                    <div class="modal fade top" id="modalCoupon" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
                        <div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4>
                                        <span class="badge mb-2">Адрес и телефон за доставка:</span>
                                    </h4>
                                    <div class="row justify-content-center align-items-center">
                                        <form>
                                            <div *ngIf="courierServices" class="form-group">
                                                <div class="row">
                                                    <div class="col-2"></div>
                                                    <div *ngFor="let courier of courierServices" class="col-4">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" id="{{courier.id}}" name="customRadio"
                                                                class="custom-control-input" (change)="fetchCitiesByCourier(courier.id)">
                                                            <label class="custom-control-label"
                                                                for="{{courier.id}}">{{courier.courierServiceName}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-2"></div>
                                                </div>
                                            </div>

                                            <div *ngIf="courierId" class="form-group">
                                                <input id="town" name="town" type="text" class="form-control" (keyup)="searchCity($event)" placeholder="Избери град">
                                                <div class="searchedCities" *ngIf="searchedCities">
                                                    <div *ngFor="let city of searchedCities" class="city" (click)="selectCity(city.city.cityName, city.city.id)">
                                                        <p class="cityName">{{city.city.cityName}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div *ngIf="cityId" class="form-group">
                                                <label for="office2">Офис:</label>
                                                <select id="office2" name="office" class="form-control">
                                                    <option selected>София Център</option>
                                                    <option>София Център 2</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="tel">Телефон:</label>
                                                <input id="tel" name="tel" type="tel" class="form-control"
                                                    pattern="[0-9]+">
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <button (click)="requestBook()" class="btn btn-dark">Поискай
                                                    </button>
                                                </div>
                                                <div class="col-6">
                                                    <a type="button" class="btn btn-light waves-effect"
                                                        data-dismiss="modal">Назад</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button [disabled] *ngIf="isRequested()" class="navbtn">Поискано</button>
                </div>
            </div>
        </div>
        <div class="col-md-7 book-info">
            <h5 class="book-title">{{book.title}}</h5>
            <p class="book-description">{{book.description}}</p>
        </div>
    </div>
</div>
<app-loader *ngIf="!book"></app-loader>