.books {
    top: 65vh;
}

.book {
    height: 480px;
}

.item {
    position: absolute;
    bottom: 0;
}

.title {
    color: rgb(206, 112, 5);
}

.book-title {
    color: rgb(206, 112, 5);
}

@media (max-width: 576px) {
    .book {
        height: unset;
    }
}