<div class="row">
    <div class="user-list col-lg-4 col-md-5 border-right border-bottom">
        <ul>
            <li class="border-bottom list-header text-center">
                <h5 class="pt-2">Потрбители</h5>
            </li>

            <li class="border-bottom list-header text-center">
                <input class="form-control" type="text" placeholder="Търси по име...">
            </li>

            <li class="border-bottom row">
                <div class="col-6">
                    <span class="pl-3">Петър Берон</span>
                    <br>
                    <span class="pl-3">imeil@nachoveka.com</span>
                </div>
                <div class="col-6">
                    <button class="btn float-right btn-view my-2">Виж</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="message-list col-lg-5 col-md-7 border-right border-bottom">
        <ul>
            <li class="border-bottom list-header text-center">
                <h5 class="pt-2">Съобщения и предложения</h5>
            </li>

            <li class="border-bottom row">
                <div class="col-6">
                    <span class="pl-3">Михайл Горбачев</span>
                    <br>
                    <span class="pl-3">Съобщение</span>
                </div>
                <div class="col-6">
                    <a class="btn float-right btn-view my-2">Виж</a>
                </div>
            </li>

            <li class=" border-bottom row">
                <div class="col-6">
                    <span class="pl-3">Николай Коперник</span>
                    <br>
                    <span class="pl-3">Предложение за книга</span>
                </div>
                <div class="col-6">
                    <a class="btn float-right btn-view my-2">Прегледай</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel col-lg-3 text-center" id="panel">
        <h4 class="text-center py-3">Контролен Панел</h4>
        <!-- "Виж" съобщение -->
        <div class="d-none">
            <div class="row">
                <div class="col-7">
                    <h6 class="pt-2 float-right">Михайл Горбачев</h6>
                </div>
                <div class="col-5">
                    <a class="btn btn-view float-left">Виж</a>
                </div>
            </div>
            <span class="py-5">misho_gorbachev@sovietmail.ru</span>
            <p class="pt-4 px-2">Здравейте аз съм на СССР водача и имам проблем с намирането на книги по жанрове. Като
                напиша
                СССР нищо не
                излиза а мога само по заглавия да търся което някакси не ме кефи :)</p>
            <button class="btn btn-danger">Изтрий</button>
        </div>
        <!-- "Прегледай" заявка -->
        <div class="">
            <div class="row">
                <div class="col-7">
                    <h6 class="pt-2 float-right">Михайл Горбачев</h6>
                </div>
                <div class="col-5">
                    <a class="btn btn-view float-left">Виж</a>
                </div>
            </div>
            <span class="py-5">misho_gorbachev@sovietmail.ru</span>
            <p class="pt-4 px-2">Здравейте аз съм на СССР водача и имам проблем с намирането на книги по жанрове. Като
                напиша
                СССР нищо не
                излиза а мога само по заглавия да търся което някакси не ме кефи :)</p>

            <button class="btn btn-danger mr-4">Отхвърли</button>
            <button class="btn btn-success ml-4">Добави</button>

        </div>
    </div>
</div>