<div class="row">
    <div class="user-list col-lg-4 col-md-5 border-right border-bottom">
        <ul>
            <li class="border-bottom list-header text-center">
                <h5 class="pt-2">Потрбители</h5>
            </li>

            <li class="border-bottom list-header text-center">
                <input class="form-control" type="text" placeholder="Търси по име...">
            </li>

            <li class="border-bottom row">
                <div class="col-6">
                    <span class="pl-3">Петър Берон</span>
                    <br>
                    <span class="pl-3">imeil@nachoveka.com</span>
                </div>
                <div class="col-6">
                    <button class="btn float-right btn-view my-2">Виж</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="message-list col-lg-5 col-md-7 border-right border-bottom">
        <ul>
            <li class="border-bottom list-header text-center">
                <h5 class="pt-2">Съобщения и предложения</h5>
            </li>

            <li class="border-bottom row">
                <div class="col-6">
                    <span class="pl-3">Михайл Горбачев</span>
                    <br>
                    <span class="pl-3">Съобщение</span>
                </div>
                <div class="col-6">
                    <a class="btn float-right btn-view my-2">Виж</a>
                </div>
            </li>

            <li class=" border-bottom row">
                <div class="col-6">
                    <span class="pl-3">Николай Коперник</span>
                    <br>
                    <span class="pl-3">Предложение за книга</span>
                </div>
                <div class="col-6">
                    <a class="btn float-right btn-view my-2">Прегледай</a>
                </div>
            </li>
        </ul>
    </div>
    <div class=" panel col-lg-3" id="panel">
        <h6>Miwo</h6>
    </div>
</div>