* {
    margin: 0;
    padding: 0;
}

.search-text {
    margin-top: 30px;
    margin-bottom: 8px;
    color: rgb(206, 112, 5);
    font-weight: 800;
    font-size: 18px;
}

.title {
    margin-bottom: 10px;
}