<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
    <div class="row container-fluid">
        <div class="col-1">
            <a class="navbar-brand" routerLink="/"><img src="assets/static/home-logo.png" class="img-thumbnail"></a>
        </div>
        <div class="col-9">
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngIf="isAuth">
                        <a routerLink="/book/library" class="nav-item nav-link"><button class="navbtn">Моята Библиотека</button></a>
                    </li>
                    <li class="nav-item" *ngIf="isAuth">
                        <app-notifications></app-notifications>
                    </li>
                    <li class="nav-item" *ngIf="!isAuth">
                        <a class="nav-link px-4 text-dark login" routerLink="/auth/login">Влез</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuth">
                        <a routerLink="/auth/register" class="nav-item nav-link"><button class="navbtn">Регистрирай
                                се</button></a>
                    </li>
                    <li class="nav-item" *ngIf="isAuth">
                        <a (click)="logout()" class="nav-item nav-link"><img class="logout"
                                src="assets/static/logout.png"></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>