<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="/"><img class = "logo" src="assets/static/home-logo.png"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav center ml-auto">
            <a *ngIf="isAuth" routerLink="/book/add" class="nav-item nav-link"><button class="navbtn">Добави книга</button></a>
            <a *ngIf="isAuth" href="#" class="nav-item nav-link"><img class = "notification" src="assets/static/notification.png"></a>
            <a *ngIf="!isAuth" routerLink="/auth/login" class="nav-item nav-link login active">Влез</a>
            <a *ngIf="!isAuth" routerLink="/auth/register" class="nav-item nav-link"><button class="navbtn">Регистрирай се</button></a>
            <a *ngIf="isAuth" (click)="logout()" href="" class="nav-item nav-link"><img class = "logout" src="assets/static/logout.png"></a>
        </div>
    </div>
</nav>