.navbtn {
    color: rgb(250, 250, 250);
    font-size: 1.0rem;
    margin-top: -0.1rem;
    font-weight: bold;
    background-color: #F68D16;
    border-color: #F68D16;
    border-radius: 0.3rem;
    height: 2.2rem;
    width: 12rem;
    padding-bottom: 2px;
    border-style: solid;
}

.navbtn:hover {
    border-color: #EF5E1B;
    background-color: rgb(250, 250, 250);
    color: #EF5E1B;
}

.login {
    font-size: 19px;
}

.logout {
    margin-top: -3px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 40px;
}